<!DOCTYPE html>
<html lang="ko">
<head>
<title>상품상세 조회</title>
<%- include ("../_helpers/html_header") %>
</head>
<body>
	<div class="container">
		<div>
			<img src="<%= data.goodsImg %>">
		</div>
		<h1>
			<%= data.goodsNm %>
		</h1>
		<p>
			상품번호: <%= data.goodsCd %>
		</p>
		<h3>
			<%= data.goodsPrice %> 원
		</h3>
		&nbsp;
		<button class="btn btn-block btn-danger" id="nego">네고하기</button>
	</div>
	
<script>
$( function() {
	$("#nego").off().on( "click", () => { 
		history.back(); 
	});
});

</script>	
</body>
</html>